/* header */
.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    color: #ffffff;
    background: url(../img/header_img.jpg) no-repeat center center;
    background-size: cover;
}

h2.shadow { 
    text-shadow: 5px 5px 5px #666;
}

h4.shadow { 
    text-shadow: 3px 3px 5px #666;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 5%;
}

.divide-short {
    width: 130px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 3px solid rgba(0,0,0,0.2);
}

.divide {
    width: 300px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 3px solid rgba(0,0,0,0.2);
}

/* contents */
.contents {
    padding: 20px 5% 20px;
    width: 100%;
}

.content {
    padding: 15px 10px 15px;
}

.content+ .content{
    border-top: 1px solid #000000;
}

/* footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
 
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}